* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#473198, #4a0d67);
    color: #f8f9fa;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 5.2rem;
    color: #e0e5e7;
  }
  
  h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }
  
  .btn {
    display: inline-block;
    color: #ffff;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    font-size: 1.6rem;
    padding: 1rem 0;
    width: 12rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  .play-btn {
    background-color: #38b000;
  }
  
  .highscores-btn {
    background-color: #3a86ff;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(117, 122, 123, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  
  input:focus {
    font-size: 1.4rem;
    box-shadow: 0 0.4rem 1.2rem 0 #4a0d67;
  }
  
  input::placeholder {
    color: #aaa;
    font-size: 1.4rem;
  }
  
  .home {
    border: 1px solid #3a86ff;
    margin-top: 10px;
  }
  
  #finalScore {
    color: whitesmoke;
  }
  
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3.2rem;
    }
  
    h2 {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  
    h3 {
      font-size: 1.6rem;
    }
  
    .btn {
      font-size: 1.2rem;
      width: 10rem;
    }
  
    input {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
  

